body {
	/*background: url("concrete_seamless.png") center center;
	background-size: cover;*/
	background-color: #eee;
	text-align: center;
}
header {
	font-family: 'Montserrat', sans-serif;
}
nav {
/*	background-color: #00aeef;
*/	height: 100%;
	margin-top: -20px;
	width: 75%;
	margin: 0 auto;
}
iframe {
	margin-top: .5%;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	padding: 15px;
}
iframe:hover {
	background-color: #5cb85c;
}
button {
	width: 75%;
}

.dropdown-menu, .btn{
	width: 100%;
	float: right;
}
#drop3 {
	text-decoration: none;
}